<link rel="stylesheet" href="/src/assets/wdt/wdt.css"/>
<script src="/src/assets/wdt/wdt.js"></script>

<div class="header">
  <div class="search" *ngIf="options.search">
    <input class="form-control" placeholder="جستجو" [(ngModel)]="search">
  </div>
  <div class="buttons right">
    <div *ngFor="let item of buttons">
      <a [ngClass]="item.className" (click)="item.onclick()">
        <i *ngIf="item.icon" class="hidden-sm-up" [ngClass]="item.icon"></i>
        <span class="hidden-sm-down">{{item.text}}</span>
      </a>
    </div>
  </div>
  <div class="buttons left">
    <div class="columns dropdown hover" *ngIf="options.columns">
      <a class="btn turquise" href="javascript:void(0)"><span class="hidden-sm-down">ستون ها</span><i
        class="hidden-sm-up mdi mdi-table-edit"></i></a>
      <ul>
        <li *ngFor="let column of columns;let index = index">
          <input id="col-{{index}}" type="checkbox" [(ngModel)]="column.isVisible"/><label for="col-{{index}}">{{column.title}}</label>
        </li>
      </ul>
    </div>
    <div *ngIf="options.save"><a class="btn violet" (click)="save()"><span class="hidden-sm-down">ذخیره وضعیت</span><i
      class="hidden-sm-up mdi mdi-content-save"></i></a></div>
    <div *ngIf="options.print"><a class="btn red" onclick="print()"><span class="hidden-sm-down">پرینت</span><i
      class="hidden-sm-up mdi mdi-printer"></i></a></div>
    <div *ngIf="options.excel"><a class="btn green" (click)="exportExcel()"><span class="hidden-sm-down">اکسل</span><i
      class="hidden-sm-up mdi mdi-file-excel"></i></a></div>
  </div>
  <div class="limit" *ngIf="options.limits">
    <select class="form-control" [(ngModel)]="limit">
      <option *ngFor="let item of limits" [ngValue]="item">{{item}}</option>
    </select>
  </div>
</div>
<div class="data">
  <div class="table bordered striped hover">
    <div>
      <div>
        <div
          *ngFor="let column of columns"
          [ngClass]="{sortable:options.sort && column.sortable,hide:!column.isVisible,'asc':(ascending && sort == column.field),'desc':(!ascending && sort == column.field)}"
          (click)="setSort(column.field)">
          <div *ngIf="options.titleColumns">
            {{column.title}}
          </div>

        </div>
        <div class="print-hide" *ngFor="let menu of menus"></div>
      </div>
    </div>
    <div>
      <div *ngFor="let row of getRows()" style="   float: right; padding: 2px 5px; border: 2px solid #ddd; background-color: #a4a9ad; border-radius: 5px;width: 100%">
        <div *ngFor="let column of columns let index = index"

             [ngClass]="{hide:!column.isVisible, 'divOrder': options.classStyle =='divOrder', 'divRequests': options.classStyle == 'divRequests','divJobs': options.classStyle =='divJobs'}">
          {{column.getValue(row)}}

        </div>
        <div class="more print-hide" *ngFor="let menu of menus" [ngClass]="menu.getClass()">
          <a href="javascript:void(0)"><i class="mdi mdi-dots-vertical"></i></a>
          <ul>
            <li *ngFor="let item of menu.items" [title]="item.tooltip ? item.text : ''">
              <a [ngClass]="item.className" (click)="(item.onclick ? item.onclick(row) : null)">
                <i *ngIf="item.icon" [ngClass]="item.icon"></i>
                <span>{{item.text}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="pagination" *ngIf="options.paging">
    <ul>
      <li class="prev"><a (click)="prevPage()"><i class="mdi mdi-arrow-right-bold"></i></a></li>
      <li *ngFor="let item of getPages()" [ngClass]="{'active':item == page}"><a (click)="setPage(item)">{{item}}</a>
      </li>
      <li class="next"><a (click)="nextPage()"><i class="mdi mdi-arrow-left-thick"></i></a></li>
    </ul>
  </div>
  <div class="info" *ngIf="options.info">
    <span>نمایش {{getFrom()}} تا {{getTo()}} از {{getCount()}} ردیف</span>
  </div>
</div>



